//Variables

$maincolor: #622F7E;
$maincolor-light: #7C36A3;
$secondarycolor: #EF7C05;
$secondarycolor-light: #F09330;
$copy-color: #6C6E71;
$wh: #ffffff;

body{
  font-family: "futura-pt",sans-serif;
  color: $copy-color;
  font-size: 20px;
  text-transform: uppercase;
}
h2{
  font-family: "futura-pt",sans-serif;
  color: $secondarycolor;
  font-size: 72px;
  margin-top: 21px;
}
h3{
  color: $wh;
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
nav{
  background-color: $maincolor;
  height: 85px;
  position: fixed;
  z-index: 200;
  width: 100%;
  color: $wh;
}
.header-logo{
  margin-top: 20px;
  width: 118px;
}
.header-btn{
  background-color: $secondarycolor;
  width: 142px;
  padding: 8px 0;
  float: right;
  margin-top: 20px;
}
a.btn{
  color: $wh;
  text-decoration: none;
}

main{
  padding-top: 85px;
  background: linear-gradient(#EA973D, #E06A37);
  text-transform: none;
}
.video{
  margin: 40px auto;
}
main h1{
  display: block;
  margin: 50px auto 77px;
  width: 365px;
}
.white-section{
  text-transform: none;
}
.urple{
  font-weight: bold;
  color: $maincolor;
}
.product1{
  width: 434px;
  display: block;
  margin: -35px auto 25px;
}

.arrow{
  width: 40px;
  display: block;
  margin: 0 auto 50px;
}
.bounce {
   transition: all 0.3s ease-in-out .4s;
 -moz-animation: bounce 1.6s infinite;
 -webkit-animation: bounce 1.6s infinite;
 animation: bounce 1.6s infinite;
}

@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {
   transform: translateY(0);
 }
 40% {
   transform: translateY(30px);
 }
 60% {
   transform: translateY(15px);
 }
}

.urple-bg{
  background-color: $maincolor;
  color: $wh;
  text-align: center;
  font-size: 36px;
}
.number-crunch{
  margin-top: 85px;
}
.urple-bg h4{
  font-weight: 300;
  line-height: 41px;
}
.text-sm{
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  margin-top: 50px;
}
.text-xs{
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
}
.clock{
  float: left;
  margin-bottom: 30px;
}

.two-color{
  background: linear-gradient(
    to right, 
    #7C36A3 0%, 
    #7C36A3 50%,
    #F09330 50%, 
    #F09330 100%
  );
  color: $wh;
  padding: 50px 0 0;
  text-align: center;
  font-size: 20px;
}

.logo-body{
  display: block;
  margin: 0 auto 12px;
}
.white-line{
  background-color: rgba(255, 255, 255, .2);
  width: 100%;
  margin-bottom:0;
  line-height: 20px;
}
.white-line p{
  margin: 8px 0;
}
.medium{
  font-weight: 300;
}
.light{
  font-weight: 100;
}
.bold,
b{
  font-weight: 600;
}
.space-32{
  margin: 32px 0;
}
hr{
  border-top: 1px solid $wh;
}